<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="row">
    <div class="col-2 bg-primary"></div>
    <div class="col-8">
    <div class="jumbotron">
        <h1 class="display-4">Hello, Team!</h1>
        <p class="lead">An application to manage your team members.</p>
        <hr class="my-4">
        <p>Good luck with your future endeavors!!</p>
        <p class="lead">
        </p>
        {{ team }}
      </div></div>
    <div class="col-2 bg-primary"></div>
</div>
    
</body>
</html>